.root {
    -fx-background-color: #ffffff; /* 白背景 */
    -fx-text-fill: #000000;        /* 黒文字 */
}

.button {
    -fx-text-fill: #ffffff; /* 白文字 */
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-background-color: #1e90ff; /* 青背景 */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #ffcc00; /* 黄色背景 */
}

.button:pressed {
    -fx-background-color: #32cd32; /* 黄緑背景 */
}

.text-area {
    -fx-background-color: #ffffff; /* 白背景 */
    -fx-text-fill: #000000;        /* 黒文字 */
    -fx-border-color: #1e90ff;    /* 青色枠 */
    -fx-border-width: 2px;
}
